.excelDownloadButton{
  margin-top: 0.5vmin;
  margin-right: 1vmin;
}

.gaugeContainer{
height: 2vmin;

}
.graphContainer{
  width: 100%;
  height: 40vmin;
}
.tableContainer{
  width: 100%;
  height: 30vmax;
  overflow-y: auto;
}
@media only screen and (min-width: 460px) {

.mySensorContainer{
  display: table-cell;
}

}
