body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
}

.side-navbar {
  width: fit-content;
  height: fit-content;
  width: 100%;
}

.main-view {
  width: 100%;
  padding: 4px;
}

@media only screen and (min-width: 460px) {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;0,700;0,800;1,300&display=swap");

  .side-navbar {
    width: 295px !important;
    height: 100vh;
    display: table-cell;
  }

  .main-view {
    width: auto;
    padding: 2em;
    display: table-cell;
  }

  .my-container {
    display: table;
    width: 100%;
  }
}
